*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
section,article,figure,figcaption,aside,footer,nav{
    display: block;
}
.b-all-body{
    width: 100%;
}
.b-body{
    margin: 0 auto;
    width: 1000px;
}
.display-inline{
	display: inline-block;
	vertical-align: middle;
}
ul,li{
	list-style: none;
}
a,a:hover{
	color: inherit;
	text-decoration: none;
}
.social_network{
	background-image: url('../image/utilities/util/social-network.png');
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 31px;
	margin: 0px 1px;
	width: 31px;
}
.text{
	color: #555;
}