*{
    margin: 0;
    padding: 0;
}
h1,h2,h3{font-family: Arial, sans-serif;}
section,article,figure,figcaption,aside,footer,nav{
    display: block;
    font-family: Arial, sans-serif;
}
.b-all-body{
    width: 100%;
}
.b-body{
    margin: 0 auto;
    width: 1000px;
}
.display-inline{
	display: inline-block;
	vertical-align: middle;
}
.display-inline.top{
	vertical-align: top;
}
ul,li{
	list-style: none;
}
a,a:hover{
	color: inherit;
	text-decoration: none;
}
.social_network{
	border-radius: 50%;
	height: 30px;
	margin: 0px 1px;
	width: 30px;
}
.social2_network{
	
	height: 30px;
	margin: 0px 3px;
	width: 30px;
}
.text{
	color: #555;
}
.link-a{
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.display-none{
	display: none;
}
img,iframe{border: none;}
@font-face{
	font-family: sistemas;
	src:url(../font/icomoon/icomoon.eot);
	src:url(../font/icomoon/icomoon.eot#iefix) format('embedded-opentype'),
	url(../font/icomoon/icomoon.woff) format('woff'),
	url(../font/icomoon/icomoon.ttf) format('truetype'),
	url(../font/icomoon/icomoon.svg#smpe_ico) format('svg');
}
[class^="sistemas_ico"] {
	font-family: 'sistemas';
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.sprite{
	background-image: url(../image/utilities/util/png/sprite.png);
	background-repeat: no-repeat;
}
.ui-loader{
	display: none;
}
.link-a{left: 0;height: 100%;position: absolute;top: 0;width: 100%;z-index: 1}
.sistemas_ico_photo:before{content: "\e606";font-size: 55px;}
.sistemas_ico_video:before{content: "\e621";font-size: 55px;}
.sistemas_ico_twitter:before{content: "\e626"}
.sistemas_ico_facebook:before{content: "\e625"}
.sistemas_ico_menu:before{content: "\e600";}
.sistemas_ico_location:before{content: "\e60f";}
.sistemas_ico_clock:before{content: "\e610";}
.sistemas_ico_download:before{content: "\e614";}
.sistemas_ico_view:before{content:"\e61e";}

.no_public{
	color: rgb(192, 0, 0);
	text-align: center;
	padding: 30px 0px;
}