@import url('normalize.css');

/* General Demo Style */

.container{
	width: 10%;
	position: relative;
}
.main{
	width: 0%;
	margin:  auto;
	position: relative;
}

/*Circulo 2 */
.container1{
	width: 115%;
	position: relative;
}
.main1{
	width: 0%;
	margin:  auto;
	position: relative;
}