.b-body .left-body{
	height: 844px;
	padding: 50px 20px 0px 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	width: 667px;
	border-left: 1px solid #E0E0E0;
}
.b-body .right-body{
	background-color: #E0E0E0;
	width: 333px;
}
#browser ul li.list ul.sub_list{
	background-color: rgba(42,128,156,1);
}
.construction{
	margin-top: 10%;
	text-align: center;
}
.not_found img{
	margin-top: 10%;
	width: 100%;
}
.comments{
	margin-top: 20px;
	text-align: center;
}
#gallery_foto_detail .item img,#gallery_foto .item img,#video_all .item img{
	position: relative;
	top: -40px;
	width: 100%;
}
#gallery_foto_detail .item,#gallery_foto .item,#video_all .item{
	height: 240px;
	margin:10px 10px;
	width: 290px;
	overflow: hidden;
	position: relative;
}
#video_all .item{
	height: 175px;
}
#video_all .circle {
	top: 16%;
}
#video_all .circle .sistemas_ico_video{
	left: 6px;
	top: 17px;
}
#gallery_foto_detail .item figcaption,#gallery_foto .item figcaption,#video_all .item figcaption{
	background: rgba(0,0,0,0.8);
	bottom: 0px;
	color: #fff;
	padding: 10px 10px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.pp_pic_holder .twitter-share-button{
	margin:0;
}
.pp_pic_holder .twitter:hover,.pp_pic_holder .facebook:hover{
	background-color: #fff;
}
.circle{
	right: 36%;
}
.btns_prev_g{
	height: 35px;
	position: relative;
}
.btns_prev_g .btn_prev_g{
	background-color: #D5241C;
	border-radius: 5px;
	box-shadow: 0px 4px 0px #9E0F09;
	color: #fff;
	margin-top: -10px;
	margin-right: 10px;
	padding: 7px 18px;
	position: absolute;
	right: 0;
}
/*notice_Detalle*/

#noticia_detalle{
	height: 773px;
	width: 637px;
	border: 1px solid #E0E0E0;
	position: relative;
}

#noticia_detalle .noticia_imagen{
	position: relative;
}

#noticia_detalle .noticia_imagen img{
	width: 100%;
}

#noticia_detalle .noticia_titulo {
	background: rgba(0,0,0,0.8);
	color: #FEF;
	padding: 8px 15px;
	position: absolute;
	bottom: 4px;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}
#noticia_detalle .noticia_descripcion .noticia_comentario{
	font-size: 17px;
	text-align: justify;
	position: relative;
	margin: 36px 23px;
}
#noticia_detalle .noticia_descripcion .noticia_botones{
	position: absolute;
	right: 29px;
}
#noticia_detalle .noticia_descripcion .noticia_botones .noticias_general,#noticia_detalle .noticia_descripcion .noticia_botones .noticias_seccion{
	background-color: #EDEDED;
	border: 1px solid #C6C4C4;
	margin: 0px 14px;
	padding: 6px 8px;
	font-size: 15px;
}

#noticia_detalle .noticia_descripcion .noticia_botones .noticias_general:hover,#noticia_detalle .noticia_descripcion .noticia_botones .noticias_seccion:hover{
	background-color: #CFCFCF
}