.b-body .left-body{
	min-height: 844px;
	padding: 50px 20px 0px 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	width: 667px;
	border-left: 1px solid #E0E0E0;
}
.b-body .right-body{
	background-color: #E0E0E0;
	width: 333px;
	vertical-align: top;
}
#browser ul li.list ul.sub_list{
	background-color: rgba(42,128,156,1);
}
.construction{
	margin-top: 10%;
	text-align: center;
}
.not_found img{
	margin-top: 10%;
	width: 100%;
}
.comments{
	margin-top: 20px;
	text-align: center;
}
#gallery_foto_detail .item img,#gallery_foto .item img,#video_all .item img{
	position: relative;
	left: -38px;
	width: 125%;
}
#gallery_foto_detail .item,#gallery_foto .item,#video_all .item{
	height: 240px;
	margin:10px 10px;
	width: 290px;
	overflow: hidden;
	position: relative;
}
#video_all .item{
	height: 175px;
}
#video_all .circle {
	top: 16%;
}
#video_all .circle .sistemas_ico_video{
	left: 6px;
	top: 17px;
}
#gallery_foto_detail .item figcaption,#gallery_foto .item figcaption,#video_all .item figcaption{
	background: rgba(0,0,0,0.8);
	bottom: 0px;
	color: #fff;
	padding: 10px 10px;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.pp_pic_holder .twitter-share-button{
	margin:0;
}
.pp_pic_holder .twitter:hover,.pp_pic_holder .facebook:hover{
	background-color: #fff;
}
.circle{
	right: 36%;
}
.btns_prev_g{
	height: 35px;
	position: relative;
}
.btns_prev_g .btn_prev_g{
	background-color: #D5241C;
	border-radius: 5px;
	box-shadow: 0px 4px 0px #9E0F09;
	color: #fff;
	margin-top: -10px;
	margin-right: 10px;
	padding: 7px 18px;
	position: absolute;
	right: 0;
}
/*notice_Detalle*/

#noticia_detalle{
	border: 3px solid #E0E0E0;
	height: 773px;
	overflow: auto;
	position: relative;
}

#noticia_detalle .noticia_imagen{
	position: relative;
}

#noticia_detalle .noticia_imagen img{
	width: 100%;
}

#noticia_detalle .noticia_titulo {
	background: rgba(0,0,0,0.8);
	color: #FEF;
	padding: 8px 15px;
	position: absolute;
	bottom: 4px;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}
#noticia_detalle .noticia_descripcion .noticia_comentario{
	font-size: 17px;
	text-align: justify;
	position: relative;
	margin: 36px 23px;
}
#noticia_detalle .noticia_descripcion .noticia_botones{
	position: absolute;
	right: 29px;
}
#noticia_detalle .noticia_descripcion .noticia_botones .noticias_general,#noticia_detalle .noticia_descripcion .noticia_botones .noticias_seccion{
	background-color: #EDEDED;
	border: 1px solid #C6C4C4;
	margin: 0px 14px;
	padding: 6px 8px;
	font-size: 15px;
}

#noticia_detalle .noticia_descripcion .noticia_botones .noticias_general:hover,#noticia_detalle .noticia_descripcion .noticia_botones .noticias_seccion:hover{
	background-color: #CFCFCF
}
#conference.event_academy .item_event_academy{
	border: 1px solid #94AED1;
}
#talleres.event_academy .item_event_academy{
	border: 1px solid #ccc;
}
#talleres.event_academy .item_event_academy:hover{
	border:1px solid #C86631;
}
.event_academy .item_event_academy{
	background-color: #F8F8F8;
	border-radius: 8px;
	box-sizing:border-box;
	cursor: pointer;
	margin: 3px 6px;
	width: 48%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
#talleres.event_academy .item_event_academy:hover{
	background:#FBE5D6;
}
#conference.event_academy .item_event_academy:hover{
	background: #DEEBF7;
}
#conference.event_academy .item_event_academy .super,#conference.event_academy .item_event_academy .medium{
	border-bottom: 1px solid #94AED1;
}
#talleres.event_academy .item_event_academy:hover .super,#talleres.event_academy .item_event_academy:hover .medium{
	border-bottom: 1px solid #C86631;
}
#talleres.event_academy .item_event_academy .super,#talleres.event_academy .item_event_academy .medium{
	border-bottom: 1px solid #ccc;
}
.event_academy .item_event_academy .super{
	font-size: 10px;
	padding: 5px 5px;
	text-align: center;
}
.event_academy .item_event_academy .sub{
	color: #555;
	font-size: 14px;
	font-weight: bold;
}
.event_academy .item_event_academy .sub div.month_c{
	width: 46%;
}
.event_academy .item_event_academy .sub div{
	box-sizing:border-box;
	width: 54%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	padding: 5px 10px;
}
.event_academy .item_event_academy .medium .photo{
	box-sizing:border-box;
	width: 40%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.event_academy .item_event_academy .medium .text .institute{
	color: #333;
}
.event_academy .item_event_academy .medium .text .experience{
	font-style: italic;
	color: #555;
}
.event_academy .item_event_academy .medium .text{
	box-sizing:border-box;
	color: #111;
	line-height: 20px;
	font-size: 14px;
	padding-right: 15px;
	text-align: right;
	vertical-align: top;
	width: 60%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}
.event_academy .item_event_academy .medium .text .name{
	text-align: left;
	padding: 15px 0px 15px 0px;
}
.event_academy .item_event_academy .medium .text .name .institute{
	margin-top: 10px;
}
.event_academy .item_event_academy .medium div img{
	box-sizing:border-box;
	padding: 10px;
	width: 95%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
/*Noticia_General*/
#noticia_general{
	min-height: 807px;
	width: 667px;
	position: relative;
	float: left;
	/* overflow: auto; */
	margin-left: -20px;
	margin-top: -13px;
}

#noticia_general .item_notice{
	
	border-bottom: 1px solid #848484;
}
#noticia_general .item_notice.sub_notice .img_notice{

}
#noticia_general .item_notice.sub_notice{
	
}
header.title_notice h2{
	font-size: 19px;
}
#noticia_general .item_notice .img_notice{
	height: 190px;
	position: relative;
	width: 220px;
}
#noticia_general .item_notice .content_notice{
	height: 193px;
	width: 447px;
}
#noticia_general .item_notice .content_notice .header_notice h3{
	font-size: 13px;
	padding: 12px 27px;
}
#noticia_general .item_notice .content_notice .time_notice{
	color: #666666;
	font-size: 12px;
	padding: 3px 0px 7px 28px;
}
#noticia_general .item_notice .content_notice .time_notice .link_notice{
	text-decoration: underline;
}
#noticia_general .item_notice .content_notice .abstract_notice{
	color: #444444;
	font-size: 13px;
	height: 75px;
	padding: 0px 27px;
}
#noticia_general .item_notice .content_notice .btns_notice{
	padding: 5px 51px 5px 10px;
	text-align: right;
}

#noticia_general .item_notice .btn_read_more
{
 	background-color:#308eba;
 	box-shadow: 0px 4px 0px #256877;
	border-radius: 8px;
	color:#FFF;
	font-size:15px;
	padding: 8px 30px;
	-webkit-box-shadow: 0px 4px 0px #256877;
	-moz-box-shadow: 0px 4px 0px #256877;
	-o-box-shadow: 0px 4px 0px #256877;
	-ms-box-shadow: 0px 4px 0px #256877;
}

#noticia_general .item_notice .img-border,#noticia_general .item_notice .img-border img{
	height: 165px;
	width: 165px;
}
#noticia_general .item_notice .img-border
{
	border-radius: 50%;
	border: 7px solid rgba(68,68,68, 1);
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
#noticia_general .item_notice .img-border:hover .web_site_opacity {
	display: block;
}
#noticia_general .item_notice .more_notice,#noticia_general .item_notice .day_notice{
	background-color: #f55857;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	padding: 9px 0px;
	position: absolute;
	text-align: center;
	width: 50px;
}
#noticia_general .item_notice .day_notice{
	left: 25px;
	top: 5px;
	z-index: 1;
}
#noticia_general .item_notice .more_notice{
	bottom: 13%;
	font-size: 16px;
	padding: 6px 9px;
	right: 13%;
	width: 12px;
}
#projects .item-project{
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #FBFBFB;
	padding: 16px 10px;
	margin: 5px 0px;
}
#projects .item-project .ciclo{
	box-sizing: border-box;
	border-radius:50%;
	border:4px solid #2a809c;
	color: #2a809c;
	font-size: 40px;
	height: 90px;
	text-align: center;
	padding: 22px 0px;
	width: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#projects .item-project .content_project{
	height: 90px;
	box-sizing: border-box;
	padding: 0px 10px;
	width: 500px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#projects .item-project .content_project>div{
	padding: 5px 0px;
}
.web_site_opacity{
	background-color: rgba(0,0,0,.5);
	left: 0px;
	height: 100%;
	position: absolute;
	display: none;
	right: 0px;
	width: 100%;
}
.web_site_opacity .share_social{
	margin: 55px auto;
	text-align: center;
}
