/*STAR HEADER*/
#header{
	background-color: #fff;
	height: 60px;
}
.social_network.facebook,.social_network.twitter,.social_network.youtube{
	background-color: #333;
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.facebook{
	background-position: 6px -4px;
}
.facebook:hover{
	background-color: #3b5998;
}
.twitter{
	background-position: -23px -4px;
}
.twitter:hover{
	background-color: #3AA0EC;
}
span.sistemas_ico_youtube:before{
	content: "\e606";
}
.youtube{
	color: #fff;
	height: initial;
	width: initial;
	padding: 5px 6px 5px 6px;
}
.youtube:hover{
	background-color: #cc181e;
}
#header .unjfsc{
	margin-top: 6px;
	width: 78%;
}
#header .social{
	margin-left: 5px;
	margin-top: 1px;
}
/*END HEADER*/
/*STAR BROWSER*/
.browser_triangle{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 13px solid rgba(42,128,156,0.8);
	height: 0px;
	position: absolute;
	top: 32px;
	width: 0px;
}
#browser .logo{
	position: relative;
}
#browser .logo img{
	left: 90px;
	position: absolute;
	top: 20px;
	z-index: 2;
}
#browser{
	background-color: #2a809c;
	height: 50px;
	-webkit-box-shadow: 0px 10px 0px rgba(34,91,128,0.2);
	-moz-box-shadow: 0px 10px 0px rgba(34,91,128,0.2);
	-o-box-shadow: 0px 10px 0px rgba(34,91,128,0.2);
	-ms-box-shadow: 0px 10px 0px rgba(34,91,128,0.2);
	box-shadow: 0px 10px 0px rgba(34,91,128,0.2);
}
#browser ul li.list{
	color:#fff;
	display: inline-block;
	height: 20px;
	margin: 0px 3px;
	position: relative;
	text-align: right;
}
#browser ul.p_list{
	padding: 16px 0px 16px 0px;
	text-align: right;
}
#browser ul li.list a{
	padding: 5px 10px;
}
#browser ul li.list a:hover{
	border-radius:5px;
	background-color: #f5f5f5;
	color: #2a809c;
}
#browser .hover_browser{
	opacity: 0;
	position: relative;
	top: -10px;
	visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index: 5;
}
#browser li.list:hover > .hover_browser{
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
	top: -20px;
}
#browser ul li.list ul.sub_list{
	background-color: rgba(42,128,156,0.8);
	border-radius: 7px;
	left: -10px;
	position: absolute;
	text-align: left;
	top: 45px;
	right: -3px;
	z-index: 1;
}
#browser ul li.list ul.sub_list .list_option{
	display: block;
	margin: 10px 0px;
	padding: 5px 17px 5px 5px;
}
/*END BROWSER*/
/*STAR FRONT*/
#front{
	background-color: #000;
	height:360px;
	position: relative;
	z-index: 1;
}
#front .camera_commands{
	display: none;
}
#front .camera_pag{
	position: absolute;
	right: 15px;
	bottom: -10px;
}
/*END FRONT*/
/*STAR PUBLIC*/
#public{
	background-color: #0087c5;
	height: 115px;
	text-align: center;
	font-size: 25px; 
	font-weight: bold;
	color: white;
}

#public .fechcont
{
	top: -37px;
	position: relative
}
#public .fechcont .triangle
{
	background: url("../image/utilities/util/png/triangulo.png");
	background-repeat-x: repeat;
	height: 24px;
	margin-top: 7px;
	width: 100%;
}
/*END PUBLIC*/


#first_block{
	background-color: #888;
	height: 360px;
}
/*STAR PROGRAMMING*/
#programming{
	background-color: #E0E0E0;
	height: 360px;
	width: 333px;
}
#blq_programming header, #blq_informative header{
	background-color: #ECECEC;
	height: 57px;
	width: 289px;
	border-radius: 8px 8px 0 0;
	text-align: center;
	line-height: 57px;
	border-bottom: 1px solid #8c8c8c;
}
#blq_programming header h2, #blq_informative header h2{
	font-size: 19px;
}
#blq_programming nav{
	background: #ececec;
	border: .08em solid #e0e0e0;
	width: 30px;
	height: 270px;
	border-radius: 0 0 0 8px;
	text-align: center;
}
#blq_programming nav div{
	padding: 10px 5px 10px 10px;
	border-bottom: 0.08em solid #e0e0e0;
	width: 30px;
	color: #333;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-ms-writing-mode: tb-rl; /* vieja sintaxis IE */
  	-webkit-writing-mode: vertical-rl;
  	-moz-writing-mode: vertical-rl; /*¿a futuro?*/
  	-ms-writing-mode: vertical-rl;
  	writing-mode: vertical-rl;
}

#blq_programming section.body-programming,
#blq_informative section.body-informative{
	background-color: #FFF;
	width: 257px;
	height: 270px;
	border-radius: 0 0 5px 0;
	overflow: hidden;
}
#blq_programming section.body-programming div.item-programming,
#blq_informative section.body-informative div.item-informative{
	background-color: #fff;
	width: 257px;
	height: 95px;
	border-bottom: 0.08em solid #e0e0e0;
}
#blq_programming div.item-programming .image,
#blq_informative div.item-informative .image{
	width: 70px;
	height: 95px;
	text-align: center;
}
#blq_programming div.item-programming .image div{
	position: relative;
	background: #ddd;
	margin: 15px auto;
	width: 60px;
	height: 60px;
	border-radius: 2em;
	overflow: hidden;
	border: 2px solid #ddd;
}
#blq_programming div.item-programming .image div img{
	height: 100%;
}

#blq_programming div.item-programming .content,
#blq_informative div.item-informative .content{
	width: 177px;
	height: 95px;
	padding: 5px 0;
	
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#blq_programming div.item-programming .content p,
#blq_programming div.item-programming .content span,
#blq_informative div.item-informative .content p,
#blq_informative div.item-informative .content span {
	margin: 5px 0;
	font-size: 0.84em;
}
#blq_programming div.item-programming .content p.title,
#blq_informative div.item-informative .content p.title{
	font-size: 0.96em;
	font-weight: bold;
}
/*END PROGRAMMING*/
/*STAR AREA INFORMATIVE*/
#informative{
	background-color: #E0E0E0;
	height: 360px;
	width: 334px;
}
#blq_informative nav{
	background: #ececec;
	border: .08em solid #e0e0e0;
	width: 99.2%;
	height: 30px;
	text-align: center;
}
#blq_informative nav div{
	border-left: 0.08em solid #e0e0e0;
	width: 42.5%;
	color: #333;
	height: 30px;
	line-height: 30px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#blq_informative nav div.menu{
	width: 15%;
}

#blq_informative section.body-informative{
	width: 100%;
	height: 240px;
	border-radius: 0 0 8px 0;
}
#blq_informative section.body-informative div.item-informative{
	width: 100%;
}
#blq_informative div.item-informative .content{
	width: 200px;
}
#blq_informative div.item-informative .image{
	width: 89px;
}
/*END AREA INFORMATIVE*/
/*STAR INSCRIPTION*/
#inscription{
	background-color: #E0E0E0;
	height: 360px;
	width: 333px;
	margin:0 auto;
}

#blq_inscription,#blq_programming, #blq_informative{
	background-color: #FFF;
	border: 1px solid #8c8c8c;
	height: 330px;
	width: 289px;
	margin: 17px auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
}

#cabecera{
	background-color: #ECECEC; 
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid #8c8c8c;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	height: 57px;
	width: 289px;
}

#cabecera h2{
	text-align: center;
	line-height: 57px;
	font-size: 19px;
}
/*END INSCRIPTION*/
#second_block{
	height: 445px;
}
/*STAR NOTICE*/
#notice{
	background-color: #e0e0e0;
	height: 445px;
	width: 667px;
}
#notice header.title_notice{
	padding: 16px 23px;
	border-bottom: 1px solid #848484;
}
#notice .item_notice.sup_notice{
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #848484;
}
#notice .item_notice.sub_notice{
	border-top: 1px solid #eaeaea;
}
#notice header.title_notice h2{
	font-size: 19px;
}
#notice .item_notice .img_notice{
	background: #e0e0e0;
	height: 190px;
	width: 220px;
}
#notice .item_notice .content_notice{
	height: 193px;
	width: 447px;
}
#notice .item_notice .content_notice .header_notice h3{
	font-size: 13px;
	padding: 12px 8px;
}
#notice .item_notice .content_notice .time_notice{
	color: #666666;
	font-size: 12px;
	padding: 3px 0px 7px 8px;
}
#notice .item_notice .content_notice .time_notice .link_notice{
	text-decoration: underline;
}
#notice .item_notice .content_notice .abstract_notice{
	color: #444444;
	font-size: 13px;
	height: 75px;
	padding: 0px 10px;
}
#notice .item_notice.sup_notice .content_notice .btns_notice{
	padding: 5px 20px 5px 10px;
	text-align: right;
}
#notice .item_notice.sub_notice .content_notice .btns_notice{
	padding: 5px 10px 5px 20px;
	text-align: left;	
}
#notice .item_notice .btn_read_more
{
 	background-color:#308eba;
 	box-shadow: 0px 4px 0px #256877;
	border-radius: 8px;
	color:#FFF;
	font-size:15px;
	padding: 8px 30px;
	-webkit-box-shadow: 0px 4px 0px #256877;
	-moz-box-shadow: 0px 4px 0px #256877;
	-o-box-shadow: 0px 4px 0px #256877;
	-ms-box-shadow: 0px 4px 0px #256877;
}
#notice .item_notice .btn_all
{
 	background-color:#f55857;
	border-radius: 8px;
 	box-shadow: 0px 4px 0px #ae414c;
	color: #FFF;
	font-size: 15px;
	padding: 8px 30px;
	-webkit-box-shadow: 0px 4px 0px #ae414c;
	-moz-box-shadow: 0px 4px 0px #ae414c;
	-o-box-shadow: 0px 4px 0px #ae414c;
	-ms-box-shadow: 0px 4px 0px #ae414c;
}
.ch-item {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	position: relative; top: -10px;
	cursor: default; 
	box-shadow: 
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-item1 {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	position: relative; left: -125px; top: -10px;
	cursor: default; 
	box-shadow: 
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-item2 {
	width: 27%;
	height: 27%;
	border-radius: 50%;
	position: relative; top: -280px;
	background: #f55857;
	
	/*-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;*/
}
.ch-item3 {
	width: 13%;
	height: 13%;
	border-radius: 50%;
	position: relative; top: -410px; left: 130px;
	background: #f55857;
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
	background-image: url(../image/utilities/organization/5.jpg);
}

.ch-img-2 { 
	background-image: url(../image/utilities/organization/4.jpg);
}
.ch-info {
	position: absolute; left: 0px;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}
.ch-info h3 {
	color: #fff;
	/*text-transform: uppercase;*/
	position: relative; 
	/*letter-spacing: 2px;*/
	font-size: 16px;
	/*margin: 0 30px;*/
	padding: 65px 0 0 0;
	/*height: 110px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
.ch-info1 {
	position: absolute; left: 0px;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}
.ch-info1 h3 {
	color: #fff;
	/*text-transform: uppercase;*/
	position: relative; 
	/*letter-spacing: 2px;*/
	font-size: 16px;
	/*margin: 0 30px;*/
	padding: 65px 0 0 0;
	/*height: 110px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);

}
.ch-info1 p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	/*border-top: 1px solid rgba(255,255,255,0.5);*/
}

.ch-info1 p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
	position: relative; top:-1500px;
}

.ch-info1 p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item1:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item1:hover .ch-info1 {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
.ch-info2 {
	position: absolute; left: 0px;
	width: 27%;
	height: 27%;
	border-radius: 50%;
}
.ch-info2 h3 {
	color: #fff;
	position: relative; left: -5px;
	font-size: 10px;
	margin: 0 30px;
	padding: 19px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info3 {
	position: absolute; left: 0px;
	width: 13%;
	height: 13%;
	border-radius: 50%;
}
.ch-info3 h3 {
	color: #fff;
	position: relative; left: -18px; top: 10px;
	font-size: 12px;
	margin: 0 30px;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
}
.ch-grid {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.container{
	width: 5%;
	position: relative;
}
.main{
	width: 0%;
	margin:  auto;
	position: relative;
}

.container1{
	width: 120%;
	position: relative;
}
.main1{
	width: 0%;
	margin:  auto;
	position: relative;
}
.container2{
	width: 5%;
	position: relative;
}
.main2{
	width: 0%;
	margin:  auto;
	position: relative;
}
.container3{
	width: 5%;
	position: relative;
}
.main3{
	width: 0%;
	margin:  auto;
	position: relative;
}
.container4{
	width: 120%;
	position: relative;
}
.main4{
	width: 0%;
	margin:  auto;
	position: relative;
}
/*END NOTICE*/
/*START DIRECT ACCESS*/
#access_direct{
	background-color: #E0E0E0;  
	height: 445px;
	width: 333px;
	margin:0 auto;
}

.direct_access{
	background-color: #FFF;
	height: 400px;
	width: 289px;
	margin: 22px auto;
	border-radius: 10px;
}

.link_conferencias{
	background-color: #2EC671;
	height: 40px;
	width: 289px;
	border-radius: 10px 10px 0px 0px;
}

.sombra_conferencias{
	background-color: #2FAB66;
	height: 20px;
	width: 289px;
	border-radius: 10px 10px 0px 0px;
}

input[type="checkbox"]{
	display: none;
}

.link_conferencias label{
	text-align: center;
	line-height: 42px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	margin: 0 auto;
	display: block;
	cursor: pointer;

}

.ico_conferencias{
	background-position: 6px -30px;
	height: 30px;
	width: 30px;
	margin-top: -69px;
	margin-left: 8px;
}

.conferencias_triangle{
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #2FAB66;
	height: 0px;
	position: absolute;
	top: 1005px;
	right: 453px;
}

.content_conferencias{
	height: 230px;
	width: 289px;
	margin: 0 auto;
	position: relative;
}

.fb-like {
	margin-top: 28px;
	margin-left: 12px;
	}

.twitter-share-button{
	width: 59px;
	height: 62px;
	position: absolute;
	margin-left: 20px;
	margin-top: 15px;

}

.img_conferencias{
	background: url("../image/body/direct_access/conferencias.jpg");
	background-repeat: no-repeat;
	padding: 0;
	height: 119px;
	width: 176px;
	margin: -52px 98px;
	position: relative;
	box-shadow: 0px 0px 10px #969696;
	-webkit-box-shadow: 0px 0px 10px #969696;
	-moz-box-shadow: 0px 0px 10px #969696;
	-o-box-shadow: 0px 0px 10px #969696;
	-ms-box-shadow: 0px 0px 10px #969696;
}

.ver_conferencias{
	background-color: #2EC671;
	height: 33px;
	width: 193px;
	border-radius: 5px;
	border-bottom: 5px solid #2FAB66;
	margin: 79px 48px;
	position: absolute;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.ver_conferencias p{
	line-height: 30px;
	color: #FFF;
	font-size: 12px;
	padding-left: 35px;
	cursor: pointer;
}

.img_triangle{
	background: url("../image/utilities/util/png/vermas.png");
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin: -25px 11px;
	position: absolute;
}
.link_talleres{
	background-color: #308EBA;
	height: 40px;
	width: 289px;
	border-radius: 10px;
	border-bottom: 5px solid #1F576D;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.link_talleres label{
	text-align: center;
	line-height: 42px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.ico_talleres{
	background-position: -90px -31px;
	height: 30px;
	width: 30px;
	margin-top: -75px;
	margin-left: 12px;
}

.link_concursos{
	background-color: #F55857;
	height: 40px;
	width: 289px;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 5px solid #AE414C;
	margin-top: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.link_concursos label{
	text-align: center;
	line-height: 42px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.ico_concursos{
	background-position: -24px -32px;
	height: 35px;
	width: 30px;
	margin-top: -62px;
	margin-left: 11px;
}

.link_proyectos{
	background-color: #9359AE;
	height: 40px;
	width: 289px;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 5px solid #733c91;
	margin-top: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.link_proyectos label{
	text-align: center;
	line-height: 42px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.ico_proyectos{
	background-position: -55px -32px;
	height: 35px;
	width: 30px;
	margin-top: -60px;
	margin-left: 11px;
}

.link_conferencias input:checked + label{
	background-color: red;
	height: 40px;
	width: 289px;
	border-radius: 10px 10px 0px 0px;
}

#third_block{
	background-color: #111;
	height: 420px;
}
/*STAR GALLERY IMAGE*/
.multimedia{
	background-color: #308eba;
	height: 350px;
	margin: 35px;
	position: relative;
}
.multimedia .camera_commands{
	display: none;
}
.multimedia .circle{
	background-color: rgba(42,128,156,0.7);
	border-radius:50%;
	color: #fff;
	height: 90px;
	position: absolute;
	right: 40%;
	text-align: center;
	top: 29%;
	width: 90px;
	z-index: 2;
}
.multimedia .circle > div{
	position: relative;
	top: 12px;
}
#image{
	background-color: #e0e0e0;
	height: 420px;
	width: 500px;
}
#image .multimedia .camera_pag{
	bottom: -100px;
	position: absolute;
	right: 8px;
}
.multimedia .spacing_multimedia{
	box-sizing: border-box;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.multimedia .camera_target_content {
	bottom: -50px;
	overflow: initial;
}
.multimedia .camera_caption > div{
	background-color: #308eba;
	padding: 10px 0px;
}
/*END GALLERY IMAGE*/
/*STAR GALLERU VIDEO*/
#video{
	background-color: #e0e0e0;
	height: 420px;
	width: 500px;
}
#video .multimedia .circle > div{
	left: 5px;
	top: 18px;
}
#video .multimedia .camera_target_content{
	bottom: -90px;
}
#video .multimedia .camera_target_content .camera_caption {
	border-top: 1px solid rgba(255,255,255,0.2);
}
#video .reproductor{
	color: #fff;
	padding: 0px 10px;
}
.sistemas_ico_play:before{content: "\e620";font-size: 22px;}
.sistemas_ico_pause:before{content: "\e621";font-size: 22px;}
.sistemas_ico_stop:before{content: "\e622";font-size: 22px;}
.sistemas_ico_complete:before{content: "\e618";font-size: 22px;}
.line_time{
	background-position: -7px -112px;
	height: 20px;
	width: 265px;
	margin: 0px 6px;
}
.multimedia .camera_target_content .camera_link{
	position: relative;
	z-index: 3;
}
/*END GALLERY VIDEO*/
/*STAR INSTITUTE*/
#institute{
	background-color: #EAEAEA;
	height: 130px;
}


#institute .imginstitute
{	
	position: relative;

}


<<<<<<< HEAD
#institute .imginstitute #institutelogo1,#institutelogo2,#institutelogo3,#institutelogo4,#institutelogo5
{
		
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;



}
#institute .imginstitute #institutelogo1:hover,#institutelogo2:hover,#institutelogo3:hover,#institutelogo4:hover,#institutelogo5:hover

{
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: none;
-webkit-transition: all 2.5s ease;
-moz-transition: all 2.5s ease;
-ms-transition: all 2.5s ease;
-o-transition: all 2.5s ease;
transition: all 2.5s ease;	


}
#institutelogo1
{
	 -webkit-animation: rotate3d2 4s linear infinite;
     
}

#institute .imginstitute #institutelogo1
{
	max-width: 371px; 
     height: 64px;
	float: left;
	position: relative;
	top:32px;
	margin-left: 2em;
}
#institute .imginstitute #institutelogo2
=======
#institute .imginstitute .institutelogo1
{	
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#institute .imginstitute .institutelogo1:hover
{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
}
#institute .slides_container{height: 130px;}
#institute .pagination{display: none}
#institute .imginstitute .institutelogo1
>>>>>>> 2d72952773e372bed42b95dce66b9540750fce20
{
	margin: 20px 25px;
	text-align: center;
}

#institute .imginstitute .institutelogo1 img
{
	cursor: pointer;
}

/*END INSTITUTE*/
#footer{
	background-color: #171717;
	height: 285px;
	padding: 0px;
}

#footer .colores 
{
	width: 100%;
	height: 5px;
	background-color: ;
	vertical-align: top;
	display: block;
}
#footer .colores .color1
{
	width: 10%;
	height: 5px;
	background-color: #C2D38F;
	vertical-align: top;
}
#footer .colores .color2
{
	width: 10%;
	height: 5px;
	background-color: #FDCC8A;
	vertical-align: top;
}
#footer .colores .color3
{
	width: 10%;
	height: 5px;
	background-color: #E9836D;
	vertical-align: top;
}
#footer .colores .color4
{
	width: 10%;
	height: 5px;
	background-color: #C9A2CF;
	vertical-align: top;
}
#footer .colores .color5
{
	width: 10%;
	height: 5px;
	background-color: #EBA2BD;
	vertical-align: top;
}
#footer .colores .color6
{
	width: 10%;
	height: 5px;
	background-color:#C9A2CF;
	vertical-align: top;
}

#footer .colores .color7
{
	width: 10%;
	height: 5px;
	background-color:#5193CF;
	vertical-align: top;
}

#footer .colores .color8
{
	width: 10%;
	height: 5px;
	background-color: #5F636E;
	vertical-align: top;
}

#footer .colores .color9
{
	width: 10%;
	height: 5px;
	background-color: #C18F86;
	vertical-align: top;
}

#footer .colores .color10
{
	width: 10%;
	height: 5px;
	background-color: #E6866D;
	vertical-align: top;
}

/*-------------------------------------------*/
#footer .contenerpie
{
	
	background-color:  #232323;
	height: 227px;
	width: 56%;
	position: relative;
	left: 22%;
	color: white;

}

.footer_left
{	
	background-color: #171717;
	width: 33%;
	height: 100%;	
	position: relative;
	float: left;
	font-size: 12px;
	border-right: outset;
	border-right-color:  #727070;
}
.titulo
{
	position: relative;
top: 15px
}
.contenido
{
	position: relative;
top: 11px
}
.footer_center
{
	background-color: #171717;
	height: 100%;
	width: 33%;
	border-left: outset;
	border-left-color:  #171717;
}
.footer_right
{
	background-color: #171717;
	height: 100%;
	width: 32%;
}
.fb-like-box
{
	height: 100%;
	width: 33%;
}
.footer_center_a
{
	position: relative;
	top: 5px;
	font-size: 12px;
	padding: 10px;
	font-weight:bold;

}
.footer_center_b1
{
	background-color:  #171717;
	width: 49%;
	height: 84%;
	vertical-align: top;
	line-height:14px;
	font-size: 12px;

}
.footer_center_b2
{
	background-color:  #171717;
	width: 49%;
	height: 84%;
	vertical-align: top;
	line-height:14px;
	font-size: 12px;
}
#parrafo1
{
	padding: 25px;
	position: relative;
	left: -16px
}
#parrafo2
{
	padding: 25px;
	top: 25px;
	position: relative;
	left: -16px
}
.pie_pagina
{
	text-align: center;
	color: white;
	background-color: #232323;
	position: relative;
	top: 11px;
}
