/*STAR HEADER*/
#header{
	background-color: #fff;
	height: 60px;
}
.social_network.facebook,.social_network.twitter,.social_network.youtube{
	background-color: #333;
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.facebook{
	background-position: 6px -4px;
}
.facebook:hover{
	background-color: #3b5998;
}
.twitter{
	background-position: -23px -4px;
}
.twitter:hover{
	background-color: #3AA0EC;
}
span.sistemas_ico_youtube:before{
	content: "\e606";
}
.youtube{
	color: #fff;
	height: initial;
	width: initial;
	padding: 5px 6px 5px 6px;
}
.youtube:hover{
	background-color: #cc181e;
}
#header .unjfsc{
	margin-top: 6px;
	width: 78%;
}
#header .social{
	margin-left: 5px;
	margin-top: 1px;
}
/*END HEADER*/
/*STAR BROWSER*/
#browser{
	background-color: #2a809c;
	height: 50px;
}
#browser ul li{
	color:#fff;
	display: inline-block;
	margin: 0px 3px;
	text-align: right;
}
#browser ul{
	padding: 16px 0px 16px 0px;
	text-align: right;
}
#browser ul li a{
	padding: 5px 10px;
}
#browser ul li a:hover{
	border-radius:5px;
	background-color: #f5f5f5;
	color: #2a809c;
}
/*END BROWSER*/
/*STAR FRONT*/
#front{
	background-color: #000;
	height:350px;
}
/*END FRONT*/
/*STAR PUBLIC*/
#public{
	background-color: #555;
	height: 115px;
}
/*END PUBLIC*/
#first_block{
	background-color: #888;
	height: 360px;
}
/*STAR PROGRAMMING*/
#programming{
	background-color: #333;
	height: 360px;
	width: 333px;
}
/*END PROGRAMMING*/
/*STAR AREA INFORMATIVE*/
#informative{
	background-color: #444;
	height: 360px;
	width: 334px;
}
/*END AREA INFORMATIVE*/
/*STAR INSCRIPTION*/
#inscription{
	background-color: #E0E0E0;
	height: 360px;
	width: 333px;
	margin:0 auto;
}

#blq_inscription{
	background-color: #FFF;
	height: 317px;
	width: 289px;
	margin: 21px auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border: 2px solid #E3E3E3;
}
#cabecera{
	background-color: #ECECEC; 
	height: 57px;
	width: 289px;
	border-radius: 10px;
}

#cabecera h1{
	text-align: center;
	line-height: 57px;
	font-size: 19px;
}

input[class="dato"]{
	height: 38px;
	width: 233px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
	text-align: center;
	font-size: 16px;
	border: solid #9C9B9B;
	border-width: 1px 1px 3px 1px;
	border-radius: 4px;
}
button[type="submit"]{
	background-color: #E7776B;
	height: 45px;
	width: 159.5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 13px;
	color: #FFF;
	font-size: 15px;
	border: solid #D65D54;
	border-width: 1px 1px 5px 1px;
	border-radius: 5px;
}


/*END INSCRIPTION*/
#second_block{
	background-color: #555;
	height: 400px;
}
/*STAR NOTICE*/
#notice{
	background-color: #777;
	height: 400px;
	width: 667px;
}
/*END NOTICE*/
#access_direct{
	background-color: #555;
	height: 400px;
	width: 333px;
}
#third_block{
	background-color: #111;
	height: 420px;
}
/*STAR GALLERY IMAGE*/
#image{
	background-color: #333;
	height: 420px;
	width: 500px;
}
/*END GALLERY IMAGE*/
/*STAR GALLERU VIDEO*/
#video{
	background-color: #444;
	height: 420px;
	width: 500px;
}
/*END GALLERY VIDEO*/
/*STAR INSTITUTE*/
#institute{
	background-color: #444;
	height: 130px;
}
/*END INSTITUTE*/
#footer{
	background-color: #222;
	height: 285px;
}